#!/usr/bin/env bash

# `.aliases` is used to provide custom variables.
#
# This file is used as a part of `.shell_env`

# === Aliases ===

# Sorts directories in top, colors, and prints `/` at directories:
alias ls="exa -lha --group-directories-first"

# Show local ip:
alias localip="ipconfig getifaddr en0"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# Get macOS Software Updates, and update installed, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; omz update; kubectl krew upgrade'

# Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
# Enable Spotlight
alias spoton="sudo mdutil -a -i on"

alias -g del="delete"

alias ccat="/bin/cat"
alias cat="bat"

### >>> CAPACT
alias -g spec="| jq -r '.[0].latestResourceVersion.spec.value'"
alias -g tiout="| jq '.Actions[0].output.typeInstances'"
### <<< CAPACT

alias -g kc="kubectl"

### kubectx

alias kctx=kubectx
alias kns=kubens

### tmux
alias vsplit="tmux split -v"
alias hsplit="tmux split -h"

## k9s

alias k="k9s"
alias -g skip=" --set analytics.disable=true"
